# Danish demand and supply 1960-2022

**Imports**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets

# for import of DST
import requests
from IPython.display import display
from io import StringIO
# for fetching data
import pandas_datareader
from dstapi import DstApi

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# user written modules
import Final_dataproject as model
data = model

**Fetching data**

We first need to import our data for use in the project. First we look at the variables in our dataset "NAN1"

In [2]:
nan1 = DstApi('NAN1')
nan1.tablesummary(language='en')

Table NAN1: Demand and supply by transaction, price unit and time
Last update: 2023-03-31T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,TRANSAKT,31,B1GQK,B.1*g Gross domestic product,EMPM_DC,"Total employment (1,000 persons)",False
1,PRISENHED,6,V_M,"Current prices, (bill. DKK.)",LAN_C,"Pr. capita, 2010-prices, chained values, (1000...",False
2,Tid,57,1966,1966,2022,2022,True

In [3]:
#Look at each potential variabel value for each variabel
display(nan1.variable_levels('TRANSAKT',language='en'))
display(nan1.variable_levels('PRISENHED',language='en'))
#display(nan1.variable_levels('Tid',language='en'))

             id                                               text
0         B1GQK                       B.1*g Gross domestic product
1           P7K                  P.7 Imports of goods and services
2          P71K                               P.71 Import of goods
3          P72K                            P.72 Import of services
4         TFSPR                                             Supply
5           P6D                  P.6 Exports of goods and services
6          P61D                               P.61 Export of goods
7          P62D                            P.62 Export of services
8       P31S1MD                           P.31 Private consumption
9       P31S14D             P.31 Household consumption expenditure
10       P311AD                               Purchase of vehicles
11     P311B_3D                                        Other goods
12  P314A33S34D                             Services incl. tourism
13        P314D                                           Services
14         P33D  Final consumption expenditure of resident hous...
15         P34D  Final consumption expenditure of non-resident ...
16      P31S15D  P.31 Non-profit institutions serving household...
17       P3S13D             P.3 Government consumption expenditure
18         P5GD                       P.5g Gross capital formation
19        P51GD                P.51g Gross fixed capital formation
20   P51GD_N111                                    N.111 Dwellings
21   P51GD_N112               N.112 Other buildings and structures
22   P51GD_N11N    N.113-N.115 Machinery, transport equipment etc.
23   P51GD_N117               N.117 Intellectual property products
24      P52_53D              P.52+P.53 Changes in inventories etc.
25         P52D                        P.52 Changes in inventories
26         P53D      P.53 Acquisitions less disposals of valuables
27     TFUPRXP6                              Final domestic demand
28        TFUPR                                       Final demand
29      EMPH_DC          Total actual hours worked (million hours)
30      EMPM_DC                   Total employment (1,000 persons)

      id                                               text
0    V_M                       Current prices, (bill. DKK.)
1  LAN_M          2010-prices, chained values, (bill. DKK.)
2    L_V           Period-to-period real growth (per cent)
3    V_C            Pr. capita. Current prices, (1000 DKK.)
4   L_VB     Contribution to GDP growth, (percentage point)
5  LAN_C  Pr. capita, 2010-prices, chained values, (1000...

I now select the variable values I want to use for the analysis

In [4]:
params = nan1._define_base_params(language='en')
params

{'table': 'nan1',
 'format': 'BULK',
 'lang': 'en',
 'variables': [{'code': 'TRANSAKT', 'values': ['*']},
  {'code': 'PRISENHED', 'values': ['*']},
  {'code': 'Tid', 'values': ['*']}]}

In [5]:
# choose the data to keep
params = {
    'table': 'nan1',
 'format': 'BULK',
 'lang': 'en',
 'variables': [{'code': 'TRANSAKT', 'values': ['B1GQK','P7K','TFSPR','P6D','P31S1MD','P3S13D','P5GD','TFUPR']},
  {'code': 'PRISENHED', 'values': ['LAN_M']},
  {'code': 'Tid', 'values': ['*']}]}

In [6]:
#Rename variable values
nan1_api = nan1.get_data(params=params)
rename = {'B.1*g Gross domestic product':'Y',
          'P.3 Government consumption expenditure':'G',
          'P.31 Private consumption':'C',
          'P.5g Gross capital formation':'I',
          'P.6 Exports of goods and services':'X',
          'P.7 Imports of goods and services':'M',
          'Final demand':'Demand'
}
nan1_api['TRANSAKT']=nan1_api['TRANSAKT'].replace(rename)
nan1_api.sort_values(by=['TID','TRANSAKT'], inplace=True)
nan1_api.head(8)

   TRANSAKT                                  PRISENHED   TID INDHOLD
74        C  2010-prices, chained values, (bill. DKK.)  1966   372.8
79   Demand  2010-prices, chained values, (bill. DKK.)  1966   780.4
73        G  2010-prices, chained values, (bill. DKK.)  1966   171.3
75        I  2010-prices, chained values, (bill. DKK.)  1966   127.6
77        M  2010-prices, chained values, (bill. DKK.)  1966   112.2
78   Supply  2010-prices, chained values, (bill. DKK.)  1966   780.4
76        X  2010-prices, chained values, (bill. DKK.)  1966   123.6
72        Y  2010-prices, chained values, (bill. DKK.)  1966   702.4

In [7]:
#Save the data in a csv file
nan1_api.to_csv('nan1_api.csv', index=False)

**Load, clean, save data**

We now that we have the data we need for analysis, we now clean it and make it ready

In [8]:
dkbal=pd.read_csv('nan1_api.csv')
#Remove 'PRISENHED' collumn
del dkbal['PRISENHED']

dkbal.head(9)

  TRANSAKT   TID  INDHOLD
0        C  1966    372.8
1   Demand  1966    780.4
2        G  1966    171.3
3        I  1966    127.6
4        M  1966    112.2
5   Supply  1966    780.4
6        X  1966    123.6
7        Y  1966    702.4
8        C  1967    397.9

In [9]:
dkbal.loc[dkbal['TRANSAKT']=='C']

    TRANSAKT   TID  INDHOLD
0          C  1966    372.8
8          C  1967    397.9
16         C  1968    412.2
24         C  1969    435.8
32         C  1970    446.6
40         C  1971    450.3
48         C  1972    450.6
56         C  1973    484.7
64         C  1974    473.7
72         C  1975    488.5
80         C  1976    525.8
88         C  1977    536.2
96         C  1978    545.5
104        C  1979    551.1
112        C  1980    538.8
120        C  1981    532.0
128        C  1982    539.5
136        C  1983    549.9
144        C  1984    569.2
152        C  1985    594.7
160        C  1986    637.1
168        C  1987    625.0
176        C  1988    613.6
184        C  1989    615.5
192        C  1990    620.4
200        C  1991    630.5
208        C  1992    646.7
216        C  1993    641.1
224        C  1994    683.8
232        C  1995    695.3
240        C  1996    712.4
248        C  1997    733.3
256        C  1998    750.6
264        C  1999    749.7
272        C  2000    752.6
280        C  2001    754.3
288        C  2002    765.2
296        C  2003    775.4
304        C  2004    811.5
312        C  2005    841.5
320        C  2006    866.3
328        C  2007    881.6
336        C  2008    885.9
344        C  2009    855.5
352        C  2010    862.2
360        C  2011    864.6
368        C  2012    869.0
376        C  2013    871.5
384        C  2014    879.4
392        C  2015    899.5
400        C  2016    921.2
408        C  2017    942.3
416        C  2018    975.2
424        C  2019    990.6
432        C  2020    977.2
440        C  2021   1017.7
448        C  2022    994.5

In [14]:
for variable in dkbal['TID']:
    dkbal[variable]=dkbal['INDHOLD']
dkbal

,TRANSAKT,TID,INDHOLD,1966,1967,1968,1969,1970,1971,1972,...,2021,2022,C,Demand,G,I,M,Supply,X,Y
0,C,1966,372.8,372.8,372.8,372.8,372.8,372.8,372.8,372.8,...,372.8,372.8,372.8,372.8,372.8,372.8,372.8,372.8,372.8,372.8
1,Demand,1966,780.4,780.4,780.4,780.4,780.4,780.4,780.4,780.4,...,780.4,780.4,780.4,780.4,780.4,780.4,780.4,780.4,780.4,780.4
2,G,1966,171.3,171.3,171.3,171.3,171.3,171.3,171.3,171.3,...,171.3,171.3,171.3,171.3,171.3,171.3,171.3,171.3,171.3,171.3
3,I,1966,127.6,127.6,127.6,127.6,127.6,127.6,127.6,127.6,...,127.6,127.6,127.6,127.6,127.6,127.6,127.6,127.6,127.6,127.6
4,M,1966,112.2,112.2,112.2,112.2,112.2,112.2,112.2,112.2,...,112.2,112.2,112.2,112.2,112.2,112.2,112.2,112.2,112.2,112.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,I,2022,566.9,566.9,566.9,566.9,566.9,566.9,566.9,566.9,...,566.9,566.9,566.9,566.9,566.9,566.9,566.9,566.9,566.9,566.9
452,M,2022,1218.2,1218.2,1218.2,1218.2,1218.2,1218.2,1218.2,1218.2,...,1218.2,1218.2,1218.2,1218.2,1218.2,1218.2,1218.2,1218.2,1218.2,1218.2
453,Supply,2022,3478.5,3478.5,3478.5,3478.5,3478.5,3478.5,3478.5,3478.5,...,3478.5,3478.5,3478.5,3478.5,3478.5,3478.5,3478.5,3478.5,3478.5,3478.5
454,X,2022,1394.9,1394.9,1394.9,1394.9,1394.9,1394.9,1394.9,1394.9,...,1394.9,1394.9,1394.9,1394.9,1394.9,1394.9,1394.9,1394.9,1394.9,1394.9
455,Y,2022,2263.5,2263.5,2263.5,2263.5,2263.5,2263.5,2263.5,2263.5,...,2263.5,2263.5,2263.5,2263.5,2263.5,2263.5,2263.5,2263.5,2263.5,2263.5